.view {
  position: relative;
  display: flex;
  flex-direction: column;
}
.flex{
  display: flex;
}
/* Flexbox 布局 */
/* Flex Direction */
.flex-row{flex-direction: row !important;@extend .view;}
.flex-row-reverse{flex-direction: row-reverse !important;@extend .view;}
.flex-column{flex-direction: column !important;@extend .view;}
.flex-column-reverse{flex-direction: column-reverse !important;@extend .view;}
/* Flex Wrap */
.flex-nowrap{flex-wrap: nowrap !important;@extend .view;}
.flex-wrap{flex-wrap: wrap !important;@extend .view;}
.flex-wrap-reverse{flex-wrap: wrap-reverse !important;@extend .view;}
/* Align Items */
.items-stretch{align-items: stretch !important;@extend .view;}
.items-start{align-items: flex-start !important;@extend .view;}
.items-center{align-items: center !important;@extend .view;}
.items-end{align-items: flex-end !important;@extend .view;}
/* Justify Content */
.justify-start{justify-content: flex-start !important;@extend .view;}
.justify-center{justify-content: center !important;@extend .view;}
.justify-end{justify-content: flex-end !important;@extend .view;}
.justify-between{justify-content: space-between !important;@extend .view;}
.justify-around{justify-content: space-around !important;@extend .view;}
/* 字体粗细 */
.text-normal{font-weight: normal;}
.text-bold{font-weight: bold;}
/* 文本对齐 */
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
/* 文本装饰 */
.text-underline{text-decoration: underline;}
.text-through{text-decoration: line-through;}
/* flex */
.flex-1{flex: 1 !important;}
.flex-2{flex: 2 !important;}
.flex-3{flex: 3 !important;}
.flex-4{flex: 4 !important;}
.flex-5{flex: 5 !important;}
.flex-6{flex: 6 !important;}
.flex-7{flex: 7 !important;}
.flex-8{flex: 8 !important;}
/* 文本大小 */
.text-xs{font-size: 12px !important;}
.text-sm{font-size: 14px !important;}
.text-md{font-size: 16px !important;}
.text-lg{font-size: 20px !important;}
.text-xl{font-size: 24px !important;}
/* 行高 */
.leading-xs{line-height: 16px;}
.leading-sm{line-height: 20px;}
.leading-md{line-height: 24px;}
.leading-lg{line-height: 28px;}
.leading-xl{line-height: 32px;}

@mixin lines($num) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  lines: $num;
}
/* 超出行省略 */
.lines-1{@include lines(1);}
.lines-2{@include lines(2);}
.lines-3{@include lines(3);}
.lines-4{@include lines(4);}
.lines-5{@include lines(5);}
/* 定位 */
.absolute{position: absolute !important;}
.absolute-screen{position: absolute !important;left: 0;right: 0;top: 0;bottom: 0;z-index: 998;}
.fixed{position: fixed !important;}
.fixed-screen{position: fixed !important;left: 0;right: 0;top: 0;bottom: 0;z-index: 999;}
.sticky{position: sticky !important;top: 0;z-index: 969;}
/* 内外边距 */
$margin-map:(
        xs:8px,
        sm:16px,
        md:24px,
        lg:32px,
        xl:40px,
        xxl:60px,
        xxxl:100px
);
@each $parameter in xs,sm,md,lg,xl,xxl,xxxl {
  .margin-#{$parameter} {margin: map-get($map: $margin-map, $key: $parameter);}
  .margin-top-#{$parameter} {margin-top: map-get($map: $margin-map, $key: $parameter);}
  .margin-bottom-#{$parameter} {margin-bottom: map-get($map: $margin-map, $key: $parameter);}
  .margin-left-#{$parameter} {margin-left: map-get($map: $margin-map, $key: $parameter);}
  .margin-right-#{$parameter} {margin-right: map-get($map: $margin-map, $key: $parameter);}
  .margin-x-#{$parameter} {margin-left: map-get($map: $margin-map, $key: $parameter);margin-right: map-get($map: $margin-map, $key: $parameter);}
  .margin-y-#{$parameter} {margin-top: map-get($map: $margin-map, $key: $parameter);margin-bottom: map-get($map: $margin-map, $key: $parameter);}
  .padding-#{$parameter} {padding: map-get($map: $margin-map, $key: $parameter);}
  .padding-top-#{$parameter} {padding-top: map-get($map: $margin-map, $key: $parameter);}
  .padding-bottom-#{$parameter} {padding-bottom: map-get($map: $margin-map, $key: $parameter);}
  .padding-left-#{$parameter} {padding-left: map-get($map: $margin-map, $key: $parameter);}
  .padding-right-#{$parameter} {padding-right: map-get($map: $margin-map, $key: $parameter);}
  .padding-x-#{$parameter} {padding-left: map-get($map: $margin-map, $key: $parameter);padding-right: map-get($map: $margin-map, $key: $parameter);}
  .padding-y-#{$parameter} {padding-top: map-get($map: $margin-map, $key: $parameter);padding-bottom: map-get($map: $margin-map, $key: $parameter);}
}
/* 圆角 */
$radius-map:(
        xs:4px,
        sm:8px,
        md:12px,
        lg:16px,
        xl:375px,
);
@each $parameter in xs,sm,md,lg,xl {
  .radius-#{$parameter} {border-radius: map-get($map: $radius-map, $key: $parameter);}
  .radius-tr-#{$parameter} {border-top-right-radius: map-get($map: $radius-map, $key: $parameter);}
  .radius-tl-#{$parameter} {border-top-left-radius: map-get($map: $radius-map, $key: $parameter);}
  .radius-bl-#{$parameter} {border-bottom-left-radius: map-get($map: $radius-map, $key: $parameter);}
  .radius-br-#{$parameter} {border-bottom-right-radius: map-get($map: $radius-map, $key: $parameter);}
}
.border-solid{border-style: solid !important;}
.border-dashed{border-style: dashed !important;}
.border-dotted{border-style: dotted !important;}

/* 边框宽度 */
$border-map:(
        xs:1px,
        sm:4px,
        md:6px,
        lg:8px,
        xl:10px,
);
@each $parameter in xs,sm,md,lg,xl {
  .border-#{$parameter} {border-width: map-get($map: $border-map, $key: $parameter) !important;}
  .border-top-#{$parameter} {border-top-width: map-get($map: $border-map, $key: $parameter) !important;}
  .border-bottom-#{$parameter} {border-bottom-width: map-get($map: $border-map, $key: $parameter) !important;}
  .border-left-#{$parameter} {border-left-width: map-get($map: $border-map, $key: $parameter) !important;}
  .border-right-#{$parameter} {border-right-width: map-get($map: $border-map, $key: $parameter) !important;}
}
/* 透明度 */
$opacity-map:(
        0:0,
        10:0.1,
        20:0.2,
        30:0.3,
        40:0.4,
        50:0.5,
        60:0.6,
        70:0.7,
        80:0.8,
        90:0.9,
        100:1
);
@each $parameter in 0,10,20,30,40,50,60,70,80,90,100 {
  .opacity-#{$parameter} {opacity: map-get($map: $opacity-map, $key: $parameter);}
}

.border-bottom {
  border-bottom: 1px solid #d7dae2 !important;
}
.border-top {
  border-top: 1px solid #d7dae2 !important;
}
.border-right {
  border-right: 1px solid #d7dae2 !important;
}
.border-left {
  border-left: 1px solid #d7dae2 !important;
}

.un-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}